:root {
  --color-light: #f7f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px 4px #ddd;
}

nav .menu {
  display: none;
}

nav .title {
  display: flex;
  margin: 0px 10px;
}

nav .collapse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0 10px;
}

nav .input form {
  display: flex;
}

nav .input {
  width: 50%;
}

nav .input input {
  width: 100%;
  background-color: var(--color-light);
  padding: 10px;
  outline: none;
  border: 1px solid #222;
  border-radius: 20px;
  font-size: 15px;
}

nav .input form button {
  border-radius: 20px;
  margin: 0px 10px;
}

nav .udemyTypes {
  display: flex;
  font-size: 15px;
}

nav .udemyTypes div:first-child {
  margin-right: 10px;
  white-space: nowrap;
}

nav .udemyTypes div:last-child {
  margin-right: 10px;
  white-space: nowrap;
}

nav .cartShopping {
  margin-right: 10px;
}

nav .buttonsGroub {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.buttonPrimary,
.buttonDefault {
  white-space: nowrap;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  cursor: pointer;
  padding: 4px 8px;
}

.buttonPrimary {
  background-color: transparent;
}

.buttonPrimary:hover {
  background-color: var(--color-light);
}

.buttonDefault {
  margin: 0px 10px;
  background-color: #222;
  color: #fff;
}

nav i {
  color: black;
  font-size: 1rem;
}

@media screen and (max-width: 1270px) {
  nav .udemyTypes .udemyTypesFirst {
    display: none;
  }
}

@media screen and (max-width: 1035px) {
  nav .udemyTypes .udemyTypesLast {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  nav .collapse {
    display: none;
  }
  nav .menu {
    display: block;
    display: flex;
  }
}

.container {
  width: 100%;
  padding: 0px 4px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(244, 247, 248);
  margin: 4px 0px;
  min-height: 60vh;
  padding: 0px 20px;
}

.header .text {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 70px 0px;
  padding: 20px 20px;
}

.header .image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0px;
}

.header .image img {
  width: 70%;
  height: 250px;
}

@media screen and (max-width: 820px) {
  .header .text,
  .header .image {
    width: 80%;
  }
  .header .image {
    order: -1;
  }
}

@media screen and (max-width: 450px) {
  .header .text {
    height: 150px;
  }
}

ul {
  list-style: none;
}

.coursesHeadline {
  margin: 0 20px;
}

.coursesHeadline .title {
  margin: 10px 0px;
  font-size: large;
}

.coursesHeadline .subTitle {
  font-size: x-large;
}

.coursesHeadline .filter-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}

.coursesHeadline .filter-list .filter-item {
  color: #222;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.coursesHeadline .filter-list .filter-item:hover {
  color: burlywood;
}

.coursesSection {
  margin: 20px 20px;
  border: 1px solid #222;
}

.coursesSection .courses p {
  color: #333;
  margin-bottom: 10px;
}

.courses {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

.courses-header {
  padding: 0 10px;
}
.courses .course {
  width: 50%;
  padding: 10px 10px;
}

.courses .courses-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.courses .course img {
  width: 100%;
  height: 200px;
  border: 1px solid #222;
}

.courses .course .name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.courses .course .title {
  font-size: 15px;
}

.courses .course .review {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .courses .course {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .courses .course {
    width: 33.333333%;
  }
}

@media screen and (min-width: 1000px) {
  .courses .course {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .courses .course {
    width: 20%;
  }
}

@media screen and (max-width: 550px) {
  .courses .course {
    width: 100%;
  }
}
