:root {
  --color-light: #f7f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.udemy-navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px 4px #ddd;
}

.udemy-navbar .menu {
  display: none;
}

.udemy-navbar #title,
#categories {
  margin: 0 10px;
}

.udemy-navbar .input {
  width: 45%;
}

.udemy-navbar .input form {
  display: flex;
}

.udemy-navbar .input input {
  width: 100%;
  background-color: var(--color-light);
  outline: none;
  border: 1px solid #222;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  margin: 0px 10px;
}

.udemy-navbar #type-first {
  margin: 0 5px;
  white-space: nowrap;
}

.udemy-navbar #type-last {
  margin: 0 5px;
  white-space: nowrap;
}

.udemy-navbar .shopping {
  margin: 0 10px;
}

.udemy-navbar #button-primary,
#button-default,
#button-search {
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  cursor: pointer;
  padding: 4px 8px;
}

#button-primary,
#button-search,
.earth {
  background-color: transparent;
}

#button-primary:hover,
#button-search:hover,
.earth:hover {
  background-color: var(--color-light);
}

#button-default {
  background-color: #000;
  margin: 0px 10px;
  color: #fff;
}

.udemy-navbar .earth {
  border: 1px solid #1c1d1f;
  padding: 8px 8px;
  font-size: 1rem;
  margin-right: 10px;
}

.udemy-navbar i {
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 1300px) {
  .udemy-navbar .input {
    width: 43%;
  }
}

@media screen and (max-width: 1250px) {
  .udemy-navbar .input {
    width: 41%;
  }
}

@media screen and (max-width: 1200px) {
  .udemy-navbar .input {
    width: 39%;
  }
}

@media screen and (max-width: 1150px) {
  .udemy-navbar .input {
    width: 37%;
  }
}

@media screen and (max-width: 1100px) {
  .udemy-navbar .input {
    width: 35%;
  }
}

@media screen and (max-width: 1085px) {
  .udemy-navbar #type-first {
    display: none;
  }
  .udemy-navbar .input {
    width: 40%;
  }
}

@media screen and (max-width: 1050px) {
  .udemy-navbar .input {
    width: 37%;
  }
}

@media screen and (max-width: 1000px) {
  .udemy-navbar .input {
    width: 35%;
  }
}

@media screen and (max-width: 950px) {
  .udemy-navbar .input {
    width: 33%;
  }
}

@media screen and (max-width: 910px) {
  .udemy-navbar #type-last {
    display: none;
  }
  .udemy-navbar .input {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .udemy-navbar .input,
  .udemy-navbar .earth,
  .udemy-navbar .shopping {
    display: none;
  }

  .udemy-navbar #categories,
  #button-primary,
  #button-default {
    display: none;
  }
  .udemy-navbar .menu {
    display: block;
  }
}

.udemy-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(244, 247, 248);
  min-height: 60vh;
  margin: 5px 5px;
}

.udemy-header .text {
  height: 120px;
  background-color: #fff;
  margin: 70px 0px;
  padding: 20px 20px;
}

.udemy-header .image {
  width: 30%;
  margin: 70px 0px;
}

.udemy-header .image img {
  width: 50%;
  height: 100px;
}

@media screen and (max-width: 800px) {
  .udemy-header .text,
  .udemy-header .image {
    width: 60%;
  }
  .udemy-header .image {
    order: -1;
  }
  .udemy-header .image {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .udemy-header .text {
    height: 150px;
  }
}

@media screen and (max-width: 550px) {
  .udemy-header .text {
    height: 200px;
  }
}

@media screen and (max-width: 380px) {
  .udemy-header .text {
    height: 250px;
  }
}

@media screen and (max-width: 335px) {
  .udemy-header .text {
    height: 300px;
  }
}

ul {
  list-style: none;
}

.courses-categories {
  margin: 0 20px;
}

.courses-categories #sub-title {
  font-size: x-large;
}

.courses-categories .filter-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}

#Python,
#Excel,
#Web,
#Javascript,
#Data,
#AWS,
#Drawing {
  border: none;
  color: #222;
  cursor: pointer;
  outline: none;
  font-size: large;
  background-color: #fff;
}

#Python:hover,
#Excel:hover,
#Web:hover,
#Javascript:hover,
#Data:hover,
#AWS:hover,
#Drawing:hover {
  font-weight: bold;
}

.courses-section {
  margin: 20px 20px;
  border: 1px solid #222;
}

.course-content {
  margin: 30px 30px;
}

/* my carsouel */
@media (min-width: 767px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
  }

  .carousel-control-prev {
    left: -71px;
    bottom: 50%;
  }

  .carousel-control-next {
    right: -73px;
    bottom: 50%;
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
  }
  .carousel-control-prev {
    left: -39px;
    bottom: 50%;
  }
  .carousel-control-next {
    right: -39px;
    bottom: 50%;
  }
}

/* Bootstrap Lightbox using Modal */

#profile-grid {
  overflow: auto;
  white-space: normal;
}

#profile-grid .profile {
  padding-bottom: 40px;
}

#profile-grid .panel {
  padding: 0;
}

#profile-grid .panel-body {
  padding: 15px;
}

#profile-grid .profile-name {
  font-weight: bold;
}

#profile-grid .thumbnail {
  margin-bottom: 6px;
}

.fa-star {
  color: brown;
}

.fa-star-half-stroke {
  color: brown;
}
